<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :name %></div>
    <div class="col-xs-10"><%= form.text_field :name, id: :person_name %></div>
  </div>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :bio %></div>
    <div class="col-xs-10"><%= form.text_area :bio, id: :person_bio %></div>
  </div>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :order %></div>
    <div class="col-xs-10"><%= form.number_field :order, id: :person_order %></div>
  </div>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :image_url %></div>
    <div class="col-xs-10"><%= form.text_field :image_url, id: :person_image_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :facebook %></div>
    <div class="col-xs-10"><%= form.text_field :facebook, id: :person_facebook %></div>
  </div>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :twitter %></div>
    <div class="col-xs-10"><%= form.text_field :twitter, id: :person_twitter %></div>
  </div>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :instagram %></div>
    <div class="col-xs-10"><%= form.text_field :instagram, id: :person_instagram %></div>
  </div>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :youtube %></div>
    <div class="col-xs-10"><%= form.text_field :youtube, id: :person_youtube %></div>
  </div>

  <div class="field row">
    <div class="col-xs-2"><%= form.label :soundcloud %></div>
    <div class="col-xs-10"><%= form.text_field :soundcloud, id: :person_soundcloud %></div>
  </div>

  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
