<div class="header">
  <h1>Editing <%= @person.name %></h1>
</div>

<div class="wrap">
	<div class="container edit-form">
		<%= render 'form', person: @person %>
		<div class="row">
	    <div class="col-xs-3"></div>
	    <div class="col-xs-9">
	      <%= link_to 'View', @person %> |
	      <%= link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' } %> | 
				<%= link_to 'Back to List', people_path %>
	    </div>
	  </div>
	</div>
</div>


