<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @person.bio %>
</p>

<p>
  <strong>Order:</strong>
  <%= @person.order %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @person.image_url %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @person.facebook %>
</p>

<p>
  <strong>Tw:</strong>
  <%= @person.twitter %>
</p>

<p>
  <strong>Ig:</strong>
  <%= @person.instagram %>
</p>

<p>
  <strong>Yt:</strong>
  <%= @person.youtube %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @person.soundcloud %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
