<p id="notice"><%= notice %></p>

<h1>Events</h1>

<div class="wrap">
  <div class="container">
    <div class="row events">

      <% @events.each do |event| %>

        <% if event.date >= Date.today %>
        <!-- // EVENT BLOCK -->
          <div class="col-xs-6 col-md-4 col-lg-3 event match">
            <%= image_tag(event.image_url, class: "img-responsive") %>
            <h2>
              <% if event.event_name? %><%= event.event_name %><br><% end %>
              <%= event.venue if event.venue? %>
              <% if event.venue? && event.location? %>, <% end %>
              <%= event.location if event.location? %>
              <% if event.venue? || event.location? %><br><% end %>
              <p><%= event.date.strftime("%A %d %B") %></p>
            </h2>
            <ul>
              <li><%= event.artist_1.upcase %></li>
              <% if event.artist_2? %><li><%= event.artist_2.upcase %></li><% end %>
              <% if event.artist_3? %><li><%= event.artist_3.upcase %></li><% end %>
              <% if event.artist_4? %><li><%= event.artist_4.upcase %></li><% end %>
              <% if event.artist_5? %><li><%= event.artist_5.upcase %></li><% end %>
              <% if event.artist_6? %><li><%= event.artist_6.upcase %></li><% end %>
              <% if event.artist_7? %><li><%= event.artist_7.upcase %></li><% end %>
              <% if event.artist_8? %><li><%= event.artist_8.upcase %></li><% end %>
              <% if event.artist_9? %><li><%= event.artist_9.upcase %></li><% end %>
              <% if event.artist_10? %><li><%= event.artist_10.upcase %></li><% end %>
              <% if event.artist_11? %><li><%= event.artist_11.upcase %></li><% end %>
              <% if event.artist_12? %><li><%= event.artist_12.upcase %></li><% end %>
              <% if event.artist_13? %><li><%= event.artist_13.upcase %></li><% end %>
              <% if event.artist_14? %><li><%= event.artist_14.upcase %></li><% end %>
              <% if event.artist_15? %><li><%= event.artist_15.upcase %></li><% end %>
              <% if event.artist_16? %><li><%= event.artist_16.upcase %></li><% end %>
              <% if event.artist_17? %><li><%= event.artist_17.upcase %></li><% end %>
              <% if event.artist_18? %><li><%= event.artist_18.upcase %></li><% end %>
              <% if event.artist_19? %><li><%= event.artist_19.upcase %></li><% end %>
              <% if event.artist_20? %><li><%= event.artist_20.upcase %></li><% end %>
            </ul>
            <div class="tickets">
              <% if event.ticket_url? %>
                <button><%= link_to event.ticket_button_text, event.ticket_url %></button>
              <% else %>
                <button class="null"><%= event.ticket_button_text %></button>
              <% end %>

              <% if user_signed_in? %> 
                <button><%= link_to 'Edit', edit_event_path(event) %></button>
                <button><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></button>
              <% end %>
            </div>
            
          </div>
          <!-- EVENT BLOCK // -->
          <% end %>
        <% end %>

        <% if user_signed_in? %>
          <div class="col-xs-6 col-md-4 col-lg-3 event">
            <%= link_to image_tag("black.png", class: "img-responsive"), new_event_path %>
            <span class="add"><span class="plus">+</span><br>New Event</span>
          </div>
        <% end %>

    </div>

  </div><!-- container // -->
</div><!-- wrap // -->


