<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @event.image_url %>
</p>

<p>
  <strong>Artist 1:</strong>
  <%= @event.artist_1 %>
</p>

<p>
  <strong>Artist 2:</strong>
  <%= @event.artist_2 %>
</p>

<p>
  <strong>Artist 3:</strong>
  <%= @event.artist_3 %>
</p>

<p>
  <strong>Artist 4:</strong>
  <%= @event.artist_4 %>
</p>

<p>
  <strong>Artist 5:</strong>
  <%= @event.artist_5 %>
</p>

<p>
  <strong>Artist 6:</strong>
  <%= @event.artist_6 %>
</p>

<p>
  <strong>Artist 7:</strong>
  <%= @event.artist_7 %>
</p>

<p>
  <strong>Artist 8:</strong>
  <%= @event.artist_8 %>
</p>

<p>
  <strong>Artist 9:</strong>
  <%= @event.artist_9 %>
</p>

<p>
  <strong>Artist 10:</strong>
  <%= @event.artist_10 %>
</p>

<p>
  <strong>Artist 11:</strong>
  <%= @event.artist_11 %>
</p>

<p>
  <strong>Artist 12:</strong>
  <%= @event.artist_12 %>
</p>

<p>
  <strong>Artist 13:</strong>
  <%= @event.artist_13 %>
</p>

<p>
  <strong>Artist 14:</strong>
  <%= @event.artist_14 %>
</p>

<p>
  <strong>Artist 15:</strong>
  <%= @event.artist_15 %>
</p>

<p>
  <strong>Artist 16:</strong>
  <%= @event.artist_16 %>
</p>

<p>
  <strong>Artist 17:</strong>
  <%= @event.artist_17 %>
</p>

<p>
  <strong>Artist 18:</strong>
  <%= @event.artist_18 %>
</p>

<p>
  <strong>Artist 19:</strong>
  <%= @event.artist_19 %>
</p>

<p>
  <strong>Artist 20:</strong>
  <%= @event.artist_20 %>
</p>

<p>
  <strong>Ticket url:</strong>
  <%= @event.ticket_url %>
</p>

<p>
  <strong>Ticket button text:</strong>
  <%= @event.ticket_button_text %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
