<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :title %>*</div>
    <div class="col-xs-9"><%= form.text_field :title, id: :album_title %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :description %>*</div>
    <div class="col-xs-9"><%= form.text_area :description, id: :album_description %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :image_url %>*</div>
    <div class="col-xs-9"><%= form.file_field :image_url, id: :album_image_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :listen_url %></div>
    <div class="col-xs-9"><%= form.text_field :listen_url, id: :album_listen_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :cd_buy_url %></div>
    <div class="col-xs-9"><%= form.text_field :cd_buy_url, id: :album_cd_buy_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :cd_button_text %></div>
    <div class="col-xs-9"><%= form.select :cd_button_text, ["", "Buy CD", "Pre-Order CD"], id: :album_cd_button_text %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :vinyl_buy_url %></div>
    <div class="col-xs-9"><%= form.text_field :vinyl_buy_url, id: :album_vinyl_buy_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :vinyl_button_text %></div>
    <div class="col-xs-9"><%= form.select :vinyl_button_text, ["", "Buy Vinyl", "Pre-Order Vinyl"], id: :album_vinyl_buy_url %></div>
  </div>

  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
