<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @album.image_url %>
</p>

<p>
  <strong>Listen url:</strong>
  <%= @album.listen_url %>
</p>

<p>
  <strong>Cd buy url:</strong>
  <%= @album.cd_buy_url %>
</p>

<p>
  <strong>Cd button text:</strong>
  <%= @album.cd_button_text %>
</p>

<p>
  <strong>Vinyl buy url:</strong>
  <%= @album.vinyl_buy_url %>
</p>

<p>
  <strong>Vinyl button text:</strong>
  <%= @album.vinyl_button_text %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
