<%= form_with(model: single, local: true) do |form| %>
  <% if single.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(single.errors.count, "error") %> prohibited this single from being saved:</h2>

      <ul>
      <% single.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field row">
    <div class="col-xs-3"><%= form.label :title %>*</div>
    <div class="col-xs-9"><%= form.text_field :title, id: :single_title %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :artist %>*</div>
    <div class="col-xs-9"><%= form.text_field :artist, id: :single_artist %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :description %>*</div>
    <div class="col-xs-9"><%= form.text_area :description, id: :single_description %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :image_url %>*</div>
    <div class="col-xs-9"><%= form.text_field :image_url, id: :single_image_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :listen_url %></div>
    <div class="col-xs-9"><%= form.text_field :listen_url, id: :single_listen_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :vinyl_buy_url %></div>
    <div class="col-xs-9"><%= form.text_field :vinyl_buy_url, id: :single_vinyl_buy_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-3"><%= form.label :vinyl_button_text %></div>
    <div class="col-xs-9"><%= form.select :vinyl_button_text, ["", "Buy Vinyl", "Pre-Order Vinyl"], id: :single_vinyl_buy_url %></div>
  </div>

  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
