<%= form_with(model: home, local: true) do |form| %>
  <% if home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% home.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field row">
    <div class="col-xs-4"><%= form.label :overlay_image_url %></div>
    <div class="col-xs-8"><%= form.file_field :overlay_image_url, id: :home_overlay_image_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-4"><%= form.label :overlay_image_blend_mode %></div>
    <div class="col-xs-8"><%= form.select :overlay_image_blend_mode, ["normal", "screen"], id: :home_overlay_image_blend_mode %></div>
  </div>

  <div class="field row">
    <div class="col-xs-4"><%= form.label :background_image_url %></div>
    <div class="col-xs-8"><%= form.file_field :background_image_url, id: :home_background_image_url %></div>
  </div>

  <div class="field row">
    <div class="col-xs-4"><%= form.label :text %></div>
    <div class="col-xs-8"><%= form.text_area :text, id: :home_text %></div>
  </div>

  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
