<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @home.text %>
</p>

<p>
  <strong>Overlay Image</strong>
  <%= @home.overlay_image_url %>
</p>

<p>
  <strong>Background Image</strong>
  <%= @home.background_image_url %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
