<!DOCTYPE html>
<html>
  <head>
  <title>Glitterbox</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fast.fonts.net/cssapi/f935a532-7dca-4a2c-8c94-cedc41b5d56d.css" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'gallerymodal', 'scripts', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>

    <link rel="icon" href="/assets/img/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body id="home-body">

  	<!-- // NAVAGATION -->

		<input id="burger" type="checkbox" />

		<label for="burger">
		    <span></span>
		    <span></span>
		    <span></span>
		</label>

		<nav class="home-nav">    
		  <ul>
		    <li><%= link_to "Home", root_path %></li>
		    <li><%= link_to "Events", root_path %></li>
		    <li><%= link_to "Music", root_path %></li>
		    <li><%= link_to "People", root_path %></li>
		    <li><a href="https://www.instagram.com/glitterboxibiza2017/" target="_blank">Gallery</a></li>
		    <li><a href="https://store.defected.com/brands-labels/glitter-box.html" target="_blank">Store</a></li>
		    <li>
	    		<a data-toggle="collapse" href="#subscribeCollapse" role="button" aria-extended="false" aria-controls="subscribeCollapse">Subscribe</a>
	    		<div class="collapse" id="subscribeCollapse">
	    			<div class="card card-body">
	    				
	    				<!-- Begin MailChimp Signup Form -->
								<div id="mc_embed_signup">
								<form action="https://defected.us16.list-manage.com/subscribe/post?u=fbc5a1355d6ac8c81527c6b12&amp;id=41d849d537" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								  <div id="mc_embed_signup_scroll">
									
									<div class="mc-field-group">
										<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
									</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fbc5a1355d6ac8c81527c6b12_f4ce0b8e52" tabindex="-1" value=""></div>
								    <div class="clear"><input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
								    </div>
								</form>
								</div>
								<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
								<!--End mc_embed_signup-->

	    			</div>
	    		</div>
		    	</li>
		    <li class="socials">
		    	<a href="https://www.facebook.com/glitterboxibiza/" target="_blank"><%= image_tag("transparent.png", id: "fb") %></a>
		    	<a href="https://twitter.com/glitterbox" target="_blank"><%= image_tag("transparent.png", id: "tw") %></a>
		    	<a href="https://www.instagram.com/glitterboxibiza" target="_blank"><%= image_tag("transparent.png", id: "ig") %></a>
		    	<a href="https://soundcloud.com/glitterboxibiza" target="_blank"><%= image_tag("transparent.png", id: "sc") %></a>
		    	<a href="https://www.youtube.com/user/glitterboxibiza" target="_blank"><%= image_tag("transparent.png", id: "yt") %></a>
		    </li>
		  </ul>  
		</nav>

		<!-- NAVAGATION // -->
		
    <%= yield %>

    <footer class="footer">
				<%= image_tag("gb_logo.svg") %><span>&copy;</span> Glitterbox 2018
		</footer>

  </body>
</html>
